<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Imegamedia. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_before">
        <observer name="send_order_email" instance="Imega\FinanceModule\Observer\SendOrderConfirmationEmail" />
    </event>
    <event name="sales_order_place_after">
        <observer name="disable_order_confirmation_email" instance="Imega\FinanceModule\Observer\DisableOrderConfirmationEmail" />
    </event>
</config>
