<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_MegaMenu
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_MegaMenu" setup_version="1.4.0">
        <sequence>
            <module name="Amasty_Base"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Theme"/>
            <module name="Magento_CatalogWidget"/>
        </sequence>
    </module>
</config>
