# 2020-01-14 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# http://stackoverflow.com/questions/987142
# http://stackoverflow.com/questions/9162919
# http://stackoverflow.com/questions/8024924#comment15884195_8025106
*
!*/
!/.editorconfig
!/.gitignore
!/composer.json
!/README.md
!app/code/**/*
!app/design/frontend/TradeFurnitureCompany/default/**/*
!app/etc/config.php
!lib/internal/Crypt/**/*
!lib/internal/Customweb/**/*
!lib/internal/Mageplaza/**/*
!lib/internal/Math/**/*
!lib/internal/Net/**/*
!lib/internal/System/**/*
!lib/internal/loader.php
!lib/internal/openssl.php
# 2019-09-19 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# «Provide a way to enlarge product images on frontend product pages»:
# https://github.com/tradefurniturecompany/core/issues/2
!lib/web/fotorama/fotorama.js
!lib/web/i18n/en_GB.csv
!pub/errors/default/503.phtml
/update/
# 2019-10-06 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# How to fix the «Invalid template file» / «require_js.phtml» failure of Magento 2.3.x in Windows?
# https://mage2.pro/t/5774
!vendor/magento/framework/View/Element/Template/File/Validator.php
# 2020-02-17 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«The product that was requested doesn't exist. Verify the product and try again.»
# at vendor/magento/module-catalog/Model/ProductRepository.php:310":
# https://github.com/tradefurniturecompany/site/issues/20
!vendor/magento/module-catalog/Model/ProductRepository.php
# 2020-02-18 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "«PayPal gateway has rejected request.
# You do not have permissions to make this API call» / «#10002: Authentication/Authorization Failed»":
# https://github.com/tradefurniturecompany/site/issues/18
!vendor/magento/module-paypal/Model/Api/Nvp.php
dev
vendor/codeception
vendor/magento/framework/Test
vendor/magento/magento2-base
vendor/magento/magento2-functional-testing-framework
vendor/tubalmartin
