<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Sales::sales">
					<resource id="Magento_Sales::sales_operation">
						<resource id="Customweb_Base::sales_customweb">
							<resource id="Customweb_RealexCw::transactions"  title="Transactions" sortOrder="10" />
						</resource>
					</resource>
				</resource>
				<resource id="Magento_Customer::customer" title="Customers">
					<resource id="Magento_Customer::manage" title="All Customers">
						<resource id="Customweb_RealexCw::customer_aliases"  title="Manage Realex Aliases" sortOrder="10" />
					</resource>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Customweb_RealexCw::config_realexcw" title="Realex Section" sortOrder="100" />
						</resource>
					</resource>
					<resource id="Customweb_Base::config">
						<resource id="Customweb_RealexCw::config"  title="Realex" sortOrder="100" />
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>