<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<realexcw>
			<information>
				<version>3.0.271</version>
			</information>
			<shop>
				<alias_management>0</alias_management>
				<await_notification>1</await_notification>
				<external_checkout_account_creation>force_selection</external_checkout_account_creation>
			</shop>
			<logging>
				<level>error</level>
			</logging>
			<general>
				<operation_mode><![CDATA[test_environment]]></operation_mode>
				<merchant_id/>
				<merchant_id_moto/>
				<signature_key/>
				<rebate_password/>
				<encryption_algo><![CDATA[SHA1]]></encryption_algo>
				<transaction_id_schema><![CDATA[order_{id}]]></transaction_id_schema>
				<shop_id/>
				<cvn_result><![CDATA[N,P]]></cvn_result>
				<eci_code><![CDATA[1_6,2_5]]></eci_code>
				<avs_manager><![CDATA[inactive]]></avs_manager>
				<avs_post_code_setting><![CDATA[m,i,p]]></avs_post_code_setting>
				<avs_address_setting><![CDATA[m,i,p]]></avs_address_setting>
				<no_uncertain_transactions><![CDATA[no]]></no_uncertain_transactions>
				<threed_secure_setting><![CDATA[force_enrolled]]></threed_secure_setting>
				<alias_manager><![CDATA[inactive]]></alias_manager>
				<real_vault_security_measure><![CDATA[address_check]]></real_vault_security_measure>
				<subaccount><![CDATA[internet]]></subaccount>
				<tss_value><![CDATA[0]]></tss_value>
				<recurring_sequence><![CDATA[recurring_sequence_off]]></recurring_sequence>
			</general>
		</realexcw>
		<payment>
			<realexcw_creditcard>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\CreditCard</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[Credit Card]]></title>
				<description><![CDATA[Pay with Credit Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<credit_card_brands><![CDATA[visa,mastercard,americanexpress,diners,lasercard]]></credit_card_brands>
				<authorizationMethod><![CDATA[PaymentPage]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_creditcard><realexcw_visa>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\Visa</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[Visa]]></title>
				<description><![CDATA[Pay with Visa]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_visa><realexcw_mastercard>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\MasterCard</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[MasterCard]]></title>
				<description><![CDATA[Pay with MasterCard]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_mastercard><realexcw_americanexpress>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\AmericanExpress</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[American Express]]></title>
				<description><![CDATA[Pay with American Express]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_americanexpress><realexcw_lasercard>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\LaserCard</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[Laser Card]]></title>
				<description><![CDATA[Pay with Laser Card]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_lasercard><realexcw_diners>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\Diners</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[Diners Club]]></title>
				<description><![CDATA[Pay with Diners Club]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_diners><realexcw_directdebits>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\DirectDebits</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[Direct Debits]]></title>
				<description><![CDATA[Pay with Direct Debits]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_directdebits><realexcw_giropay>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\Giropay</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[giropay]]></title>
				<description><![CDATA[Pay with giropay]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<capturing><![CDATA[direct]]></capturing>
				<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_giropay><realexcw_paypal>
				<active>0</active>
				<model>Customweb\RealexCw\Model\Payment\Method\PayPal</model>
				<payment_action>initialize</payment_action>
				<group>realexcw</group>
				<title><![CDATA[PayPal]]></title>
				<description><![CDATA[Pay with PayPal]]></description>
				<show_image>1</show_image>
				<show_payment_id>1</show_payment_id>
				<base_currency>0</base_currency>
				<allowspecific>0</allowspecific>
				<settlement>deferred</settlement>
				<invoice_email>0</invoice_email>
			<authorizationMethod><![CDATA[ServerAuthorization]]></authorizationMethod>
				<alias_manager><![CDATA[inactive]]></alias_manager>
			</realexcw_paypal>
		</payment>
	</default>
</config>