<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Imegamedia. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_is_active">
        <observer name="financegateway_available" instance="Imega\FinanceGateway\Observer\PaymentMethodAvailable" />
    </event>
</config>
