<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- creditmemo created -->
    <event name="hotlink_brightpearl_creditmemo_created_admin">
        <observer name="brightpearl_model_trigger_brightpearl_creditmemo_created" instance="\Hotlink\Brightpearl\Model\Trigger\Creditmemo\Created" />
    </event>

</config>
