<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="mageworxAddCategoryCustomAttributes" type="MageWorx\SeoAll\Plugin\AddCategoryCustomAttributesPlugin" sortOrder="1" disabled="false"/>
    </type>
</config>