<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\SeoCategoryGrid\Ui\DataProvider\CategoryGridDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="store_id" xsi:type="object">MageWorx\SeoCategoryGrid\Ui\DataProvider\AddStoreFieldToCollection</item>
            </argument>
        </arguments>
    </type>
</config>