<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageworx_seoredirects_customredirect_save_after">
        <observer name="invalidate_pagecache_after_custom_redirect_save" instance="MageWorx\SeoRedirects\Observer\CustomRedirect\InvalidateCacheObserver" />
    </event>
</config>