<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageWorx_SeoCrossLinks" setup_version="2.1.1">
        <sequence>
            <module name="MageWorx_SeoAll"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
        </sequence>
    </module>
</config>
