<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\ResourceModel\Page">
        <plugin name="cms_url_rewrite_plugin" disabled="true" />
    </type>
    <type name="Magento\Cms\Model\ResourceModel\Page">
        <plugin name="mw_cms_url_rewrite_plugin" type="MageWorx\SeoRedirects\Plugin\CmsPagePlugin" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="category_delete_plugin" disabled="true" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Category">
        <plugin name="mw_category_delete_plugin" type="MageWorx\SeoRedirects\Plugin\CategoryPlugin" sortOrder="1"/>
    </type>
</config>