<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customweb_externalcheckout_widgets_collect">
        <observer name="realexcw_externalcheckout_widgets_collect" instance="Customweb\RealexCw\Observer\ExternalCheckout\Widget" />
    </event>
</config>
