<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MageWorx_XmlSitemap::config_xmlsitemap" title="XML Sitemap Section (by MageWorx)" sortOrder="70"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_seo">
                        <resource id="MageWorx_XmlSitemap::sitemap" title="Sitemap by MageWorx" sortOrder="65" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>