@media only screen and (max-width: 767px) {
  .ammenu-menu-wrapper.-desktop {
    display: none;
  }
  .ammenu-menu-wrapper.-hamburger-top {
    display: none;
  }
  .ammenu-nav-sections.-hamburger {
    overflow-x: hidden;
  }
  .ammenu-nav-sections.-hamburger .ammenu-link.-main {
    padding: 15px 0;
  }
  .ammenu-nav-sections.-hamburger .header.links {
    padding: 0 15px;
  }
  .ammenu-nav-sections.-hamburger .customer-welcome {
    display: block;
  }
  .ammenu-nav-sections.-hamburger .customer-welcome .links {
    padding: 0;
  }
  .ammenu-menu-wrapper.-hamburger {
    padding: 0 15px;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-item {
    display: flex;
    flex-wrap: wrap;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-item .ammenu-link {
    flex-basis: 100%;
    order: 1;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-item .ammenu-submenu-container {
    padding: 15px 10px;
    order: 2;
    width: 100%;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-categories-container {
    padding: 0;
  }
  .ammenu-nav-sections {
    transition: 0.3s all ease-in;
    width: 100%;
    width: 90%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: all 0.3s ease;
    margin-bottom: 25px;
    max-width: 300px;
    overflow: auto;
  }
  .ammenu-nav-sections .header.links li {
    padding: 10px 0;
    margin: 0;
  }
  .ammenu-nav-sections .header.links li > a {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-top: 0;
    padding: 0;
  }
  .ammenu-nav-sections .header.links li > a:hover {
    color: #1787e0;
    text-decoration: none;
  }
  .ammenu-nav-sections .ammenu-link.-main {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
  }
  .ammenu-nav-sections .ammenu-link.-main > .ammenu-wrapper {
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
  }
  .ammenu-nav-sections .ammenu-items {
    margin: 0;
    padding: 0;
  }
  .ammenu-nav-sections .ammenu-item.-main {
    position: relative;
    margin: 0;
  }
  .ammenu-nav-sections .ammenu-item.-child {
    padding: 0;
  }
  .ammenu-nav-sections .ammenu-item > .ammenu-wrapper {
    padding: 10px 0;
  }
  .ammenu-nav-sections .ammenu-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 8px;
    margin: auto;
  }
  .ammenu-nav-sections .ammenu-icon:before,
  .ammenu-nav-sections .ammenu-icon:after {
    background: #363636;
    position: absolute;
    top: 3px;
    display: inline-block;
    width: 13px;
    height: 2px;
    content: '';
    transition: all 0.3s ease;
  }
  .ammenu-nav-sections .ammenu-icon:before {
    left: 0;
  }
  .ammenu-nav-sections .ammenu-icon:after {
    right: 0;
  }
  .ammenu-nav-sections.-opened {
    left: 0;
  }
  .ammenu-nav-sections .ammenu-tabs-container {
    height: 100%;
  }
  .ammenu-nav-sections .ammenu-tabs-container > .ammenu-title.active {
    font-weight: 600;
  }
  .ammenu-nav-sections .ammenu-tabs-container > .ammenu-title > .ammenu-link,
  .ammenu-nav-sections .ammenu-tabs-container > .ammenu-title > .ammenu-link:hover,
  .ammenu-nav-sections .ammenu-tabs-container > .ammenu-title > .ammenu-link:visited {
    color: #000;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
  }
  .ammenu-nav-sections .ammenu-tabs-container > .ammenu-content {
    background: #fff;
    float: right;
    width: 100%;
    height: calc(100% - @ammenu-mobile-menu__height);
    margin-left: -100%;
  }
  .ammenu-nav-sections .header.links {
    border-bottom: 1px solid #6d6d6d;
  }
  .ammenu-nav-sections .header.links a:hover {
    font-weight: 600;
    padding: 0;
  }
  .ammenu-nav-sections .ammenu-content > .links > .authorization-link {
    display: none;
  }
  .ammenu-nav-sections .ammenu-content {
    margin-top: 50px;
  }
  .ammenu-nav-sections .ammenu-content > .links a:hover {
    padding: 0;
  }
  .ammenu-nav-sections .ammenu-content > .links li {
    padding: 10px 20px;
  }
  .ammenu-nav-sections .ammenu-title {
    height: 50px;
    display: flex;
    float: left;
    box-sizing: border-box;
    width: 33.3%;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
  }
  .ammenu-nav-sections .ammenu-item.-main:not(:last-of-type) {
    border-bottom: 1px solid #6d6d6d;
  }
  .ammenu-nav-sections .ammenu-link.-main {
    padding: 16px 55px 16px 25px;
  }
  .ammenu-nav-sections .ammenu-link.-level1 + .ammenu-item.-child {
    margin-left: 20px;
  }
  .ammenu-nav-sections .ammenu-categories {
    padding: 0 0 15px 25px;
  }
}
@media all and (min-width: 768px), print {
  .ammenu-menu-toggle:not(.-hamburger) {
    display: none !important;
  }
  .ammenu-menu-toggle.-hamburger {
    margin: 0 10px 0 0;
    float: left;
    position: inherit;
  }
  .ammenu-nav-sections {
    display: block;
  }
  .ammenu-menu-wrapper.-desktop {
    background: #f4f4f4;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-10 {
    width: calc(100%/10);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-9 {
    width: calc(100%/9);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-8 {
    width: calc(100%/8);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-7 {
    width: calc(100%/7);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-6 {
    width: calc(100%/6);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-5 {
    width: calc(100%/5);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-4 {
    width: calc(100%/4);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-3 {
    width: calc(100%/3);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-2 {
    width: calc(100%/2);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-col-1 {
    width: calc(100%/1);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-main-container {
    max-width: 1280px;
    box-sizing: border-box;
    margin: auto;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-items {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin: 0;
    list-style: none;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-main {
    padding: 18px 15px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-auto {
    position: relative;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-main:hover {
    background: #fff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-main > .ammenu-link {
    position: relative;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-main:hover > .ammenu-link {
    text-decoration: none;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-item.-main:hover > .ammenu-submenu-container {
    display: block;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-submenu.-full {
    width: 100%;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-label {
    right: -20px;
    position: absolute;
    bottom: 80%;
    padding: 2px 3px;
    font-size: 9px;
    border-radius: 2px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-submenu-container {
    padding: 10px;
    background: #fff;
    margin-top: 15px;
    position: absolute;
    left: 0;
    z-index: 999;
    display: none;
    max-height: 70vh;
    overflow-y: auto;
    font-weight: normal;
    box-shadow: 0 4px 5px rgba(35, 74, 87, 0.1);
    cursor: auto;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container {
    display: flex;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container > .ammenu-item.-child {
    padding: 25px;
    list-style: none;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container > .ammenu-item.-child > .ammenu-wrapper:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-item {
    box-sizing: border-box;
    padding: 0;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container [class*="-col-"]:not(.-col-1) {
    max-width: 250px;
  }
  .ammenu-item.-auto .ammenu-menu-wrapper.-desktop .ammenu-categories-container {
    top: 100%;
  }
  .ammenu-item.-full .ammenu-menu-wrapper.-desktop .ammenu-categories-container > .ammenu-item.-child {
    flex-wrap: wrap;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link {
    display: inline-block;
    padding-right: 35px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover .ammenu-wrapper,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered .ammenu-wrapper,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover .ammenu-link.-level1:before,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered .ammenu-link.-level1:before {
    color: #1787e0;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 .ammenu-arrow {
    display: none;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1:hover:before,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1.-hovered:before {
    background: #1787e0;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:not(.-level1):not(.-level2) {
    white-space: nowrap;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:not(.-level1) {
    position: relative;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link > .ammenu-wrapper {
    display: inline-block;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link + .ammenu-item.-child {
    margin-left: 25px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 + .ammenu-item.-child {
    margin-top: 15px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 + .ammenu-item > .ammenu-wrapper:not(:last-of-type) {
    padding-bottom: 10px;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:not(.-level1) + .ammenu-item {
    padding: 10px 10px 20px;
    top: -10px;
    position: absolute;
    z-index: 999;
    display: none;
    margin: 0;
    box-shadow: 0 2px 4px rgba(87, 87, 87, 0.25);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 .ammenu-wrapper,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level2 .ammenu-wrapper {
    white-space: normal;
  }
  .ammenu-link.-hovered .ammenu-menu-wrapper.-desktop .ammenu-categories-container:before,
  .ammenu-link:hover .ammenu-menu-wrapper.-desktop .ammenu-categories-container:before {
    transform: rotate(45deg);
  }
  .ammenu-link.-hovered .ammenu-menu-wrapper.-desktop .ammenu-categories-container:after,
  .ammenu-link:hover .ammenu-menu-wrapper.-desktop .ammenu-categories-container:after {
    transform: rotate(-45deg);
  }
  .ammenu-link.-hovered .ammenu-menu-wrapper.-desktop .ammenu-categories-container,
  .ammenu-link:hover .ammenu-menu-wrapper.-desktop .ammenu-categories-container {
    opacity: 1;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover .ammenu-arrow {
    opacity: 1;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered > .ammenu-arrow:before,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover > .ammenu-arrow:before {
    transform: rotate(45deg);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered > .ammenu-arrow:after,
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover > .ammenu-arrow:after {
    transform: rotate(-45deg);
  }
  .ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-wrapper {
    position: relative;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-arrow {
    background: #000;
    right: 10px;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 2px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-arrow:before,
  .ammenu-menu-wrapper.-desktop .ammenu-arrow:after {
    transition: 0.5s all ease-in;
    background: #000;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 8px;
    height: 2px;
    transform-origin: 100% 50%;
  }
  .ammenu-categories-container .ammenu-link.-level1 .ammenu-menu-wrapper.-desktop .ammenu-arrow {
    display: none;
  }
  .ammenu-menu-wrapper.-desktop .ammenu-main-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .ammenu-menu-wrapper.-hamburger-top {
    background: #f4f4f4;
    margin: 0 0 20px 0;
    clear: both;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-10 {
    width: calc(100%/10);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-9 {
    width: calc(100%/9);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-8 {
    width: calc(100%/8);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-7 {
    width: calc(100%/7);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-6 {
    width: calc(100%/6);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-5 {
    width: calc(100%/5);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-4 {
    width: calc(100%/4);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-3 {
    width: calc(100%/3);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-2 {
    width: calc(100%/2);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-col-1 {
    width: calc(100%/1);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-main-container {
    max-width: 1280px;
    box-sizing: border-box;
    margin: auto;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-items {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin: 0;
    list-style: none;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-main {
    padding: 18px 15px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-auto {
    position: relative;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-main:hover {
    background: #fff;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-main > .ammenu-link {
    position: relative;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-main:hover > .ammenu-link {
    text-decoration: none;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-item.-main:hover > .ammenu-submenu-container {
    display: block;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-submenu.-full {
    width: 100%;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-label {
    right: -20px;
    position: absolute;
    bottom: 80%;
    padding: 2px 3px;
    font-size: 9px;
    border-radius: 2px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-submenu-container {
    padding: 10px;
    background: #fff;
    margin-top: 15px;
    position: absolute;
    left: 0;
    z-index: 999;
    display: none;
    max-height: 70vh;
    overflow-y: auto;
    font-weight: normal;
    box-shadow: 0 4px 5px rgba(35, 74, 87, 0.1);
    cursor: auto;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container {
    display: flex;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container > .ammenu-item.-child {
    padding: 25px;
    list-style: none;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container > .ammenu-item.-child > .ammenu-wrapper:not(:last-of-type) {
    margin-bottom: 30px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-item {
    box-sizing: border-box;
    padding: 0;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container [class*="-col-"]:not(.-col-1) {
    max-width: 250px;
  }
  .ammenu-item.-auto .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container {
    top: 100%;
  }
  .ammenu-item.-full .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container > .ammenu-item.-child {
    flex-wrap: wrap;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link {
    display: inline-block;
    padding-right: 35px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:hover .ammenu-wrapper,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-hovered .ammenu-wrapper,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:hover .ammenu-link.-level1:before,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-hovered .ammenu-link.-level1:before {
    color: #1787e0;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1 .ammenu-arrow {
    display: none;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1:hover:before,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1.-hovered:before {
    background: #1787e0;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:not(.-level1):not(.-level2) {
    white-space: nowrap;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:not(.-level1) {
    position: relative;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link > .ammenu-wrapper {
    display: inline-block;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link + .ammenu-item.-child {
    margin-left: 25px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1 + .ammenu-item.-child {
    margin-top: 15px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1 + .ammenu-item > .ammenu-wrapper:not(:last-of-type) {
    padding-bottom: 10px;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:not(.-level1) + .ammenu-item {
    padding: 10px 10px 20px;
    top: -10px;
    position: absolute;
    z-index: 999;
    display: none;
    margin: 0;
    box-shadow: 0 2px 4px rgba(87, 87, 87, 0.25);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level1 .ammenu-wrapper,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-level2 .ammenu-wrapper {
    white-space: normal;
  }
  .ammenu-link.-hovered .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container:before,
  .ammenu-link:hover .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container:before {
    transform: rotate(45deg);
  }
  .ammenu-link.-hovered .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container:after,
  .ammenu-link:hover .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container:after {
    transform: rotate(-45deg);
  }
  .ammenu-link.-hovered .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container,
  .ammenu-link:hover .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container {
    opacity: 1;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:hover .ammenu-arrow {
    opacity: 1;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-hovered > .ammenu-arrow:before,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:hover > .ammenu-arrow:before {
    transform: rotate(45deg);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link.-hovered > .ammenu-arrow:after,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-link:hover > .ammenu-arrow:after {
    transform: rotate(-45deg);
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-categories-container .ammenu-wrapper {
    position: relative;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-arrow {
    background: #000;
    right: 10px;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 2px;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-arrow:before,
  .ammenu-menu-wrapper.-hamburger-top .ammenu-arrow:after {
    transition: 0.5s all ease-in;
    background: #000;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 8px;
    height: 2px;
    transform-origin: 100% 50%;
  }
  .ammenu-categories-container .ammenu-link.-level1 .ammenu-menu-wrapper.-hamburger-top .ammenu-arrow {
    display: none;
  }
  .ammenu-menu-wrapper.-hamburger-top .ammenu-items {
    padding: 0;
  }
  .ammenu-nav-sections.-hamburger {
    transition: 0.3s all ease-in;
    width: 100%;
    width: 90%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: all 0.3s ease;
    margin-bottom: 25px;
    max-width: 360px;
  }
  .ammenu-nav-sections.-hamburger .header.links li {
    padding: 10px 0;
    margin: 0;
  }
  .ammenu-nav-sections.-hamburger .header.links li > a {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-top: 0;
    padding: 0;
  }
  .ammenu-nav-sections.-hamburger .header.links li > a:hover {
    color: #1787e0;
    text-decoration: none;
  }
  .ammenu-nav-sections.-hamburger .ammenu-link.-main {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
  }
  .ammenu-nav-sections.-hamburger .ammenu-link.-main > .ammenu-wrapper {
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
  }
  .ammenu-nav-sections.-hamburger .ammenu-items {
    margin: 0;
    padding: 0;
  }
  .ammenu-nav-sections.-hamburger .ammenu-item.-main {
    position: relative;
    margin: 0;
  }
  .ammenu-nav-sections.-hamburger .ammenu-item.-child {
    padding: 0;
  }
  .ammenu-nav-sections.-hamburger .ammenu-item > .ammenu-wrapper {
    padding: 10px 0;
  }
  .ammenu-nav-sections.-hamburger .ammenu-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    min-width: 20px;
    height: 8px;
    margin: auto;
  }
  .ammenu-nav-sections.-hamburger .ammenu-icon:before,
  .ammenu-nav-sections.-hamburger .ammenu-icon:after {
    background: #363636;
    position: absolute;
    top: 3px;
    display: inline-block;
    width: 13px;
    height: 2px;
    content: '';
    transition: all 0.3s ease;
  }
  .ammenu-nav-sections.-hamburger .ammenu-icon:before {
    left: 0;
  }
  .ammenu-nav-sections.-hamburger .ammenu-icon:after {
    right: 0;
  }
  .ammenu-nav-sections.-hamburger.-opened {
    left: 0;
  }
  .ammenu-nav-sections.-hamburger .ammenu-tabs-container {
    height: 100%;
  }
  .ammenu-nav-sections.-hamburger .ammenu-tabs-container > .ammenu-title.active {
    font-weight: 600;
  }
  .ammenu-nav-sections.-hamburger .ammenu-tabs-container > .ammenu-title > .ammenu-link,
  .ammenu-nav-sections.-hamburger .ammenu-tabs-container > .ammenu-title > .ammenu-link:hover,
  .ammenu-nav-sections.-hamburger .ammenu-tabs-container > .ammenu-title > .ammenu-link:visited {
    color: #000;
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;
  }
  .ammenu-nav-sections.-hamburger .ammenu-tabs-container > .ammenu-content {
    background: #fff;
    float: right;
    width: 100%;
    height: calc(100% - @ammenu-mobile-menu__height);
    margin-left: -100%;
  }
  .ammenu-nav-sections.-hamburger .links {
    padding: 0 30px;
  }
  .ammenu-menu-wrapper.-hamburger {
    padding: 0 30px;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-item.-main {
    padding: 10px 0;
    text-transform: capitalize;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-item.-custom {
    display: none;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-item > .ammenu-wrapper {
    padding: 0 10px 0 0;
    text-align: left;
    white-space: nowrap;
    font-size: 16px;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-wrapper a {
    padding: 5px;
    border: 1px solid transparent;
    display: inline-block;
    text-align: left;
    font-weight: 600;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-wrapper a:hover {
    color: #1787e0;
    border: 1px solid #1787e0;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-wrapper a:hover {
    color: #1787e0;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-wrapper > .ammenu-item {
    margin-left: 0;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-toggle {
    bottom: 0;
    margin: 0;
    transform: rotate(-90deg);
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-submenu-container {
    background: #fff;
    padding: 10px;
    margin: 0 0 0 30px;
    transition: 0.3s all ease-in;
    left: 100%;
    top: 0;
    min-width: 280px;
    position: absolute;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.15);
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-categories-container {
    display: flex;
  }
  .ammenu-menu-wrapper.-hamburger .ammenu-categories-container .ammenu-item {
    flex-basis: 50%;
  }
  .ammenu-tabs-container > .ammenu-title,
  .ammenu-menu-wrapper.-mobile,
  .ammenu-nav-sections:not(.-hamburger) .ammenu-title {
    display: none !important;
  }
}
.pagebuilder-content-type-wrapper .ammenu-item {
  list-style: none;
}
.ammenu-tabs-container {
  scrollbar-color: grey white;
  cursor: auto;
}
.ammenu-tabs-container::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.ammenu-tabs-container::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 4px;
  width: 5px;
  cursor: pointer;
}
.ammenu-tabs-container ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  width: 5px;
}
.ammenu-submenu-container[aria-selected="true"] ~ .ammenu-toggle .ammenu-icon:after,
.ammenu-submenu-container[aria-selected="true"] ~ .ammenu-toggle .ammenu-icon:before {
  background-color: #1787e0;
}
.ammenu-submenu-container[aria-selected="true"] ~ .ammenu-link {
  color: #1787e0;
}
.ammenu-menu-close-btn {
  color: #6d6d6d;
  position: absolute;
  right: -34px;
  display: flex;
  align-items: center;
  padding: 0 5px;
  height: 15px;
  width: 15px;
  font-size: 20px;
  cursor: pointer;
}
.ammenu-menu-close-btn:hover {
  color: #000;
}
.ammenu-menu-welcome {
  padding: 22px 30px;
  margin: 0 0 20px;
  background: #1787e0;
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}
.ammenu-nav-sections {
  background: #fff;
}
.ammenu-nav-sections table img {
  max-width: inherit;
}
.ammenu-nav-sections .ammenu-menu-header {
  color: #e5e5e5;
  border-bottom: 1px solid #c4c4c4;
  margin: 10px 0;
  padding: 0 0 10px 0;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.ammenu-wrapper {
  margin: 0;
  display: block;
  width: 100%;
}
.ammenu-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}
.ammenu-menu-wrapper {
  transition: 0.3s all ease-in;
}
.ammenu-menu-wrapper.-hide {
  opacity: 0;
}
.ammenu-menu-wrapper.-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
}
.ammenu-menu-wrapper.-mobile  .ammenu-link.-main,
.ammenu-menu-wrapper.-desktop  .ammenu-link.-level1 {
  font-weight: bold;
  text-transform: uppercase;
}
.ammenu-menu-wrapper.-mobile  .ammenu-link.-level1,
.ammenu-menu-wrapper.-hamburger  .ammenu-link.-level1 {
  font-weight: 600;
  text-transform: uppercase;
}
.ammenu-menu-wrapper.-mobile  .ammenu-link.-main:before,
.ammenu-menu-wrapper.-desktop  .ammenu-link.-level1:before {
  content: "";
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 6px 10px 0 0;
  width: 10px;
  min-width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 12px;
  box-sizing: border-box;
  vertical-align: top;
}
.ammenu-link {
  color: #000;
}
.ammenu-link:hover {
  text-decoration: none;
}
.ammenu-link.-main {
  color: #000;
}
.ammenu-link > .ammenu-wrapper {
  vertical-align: top;
}
.ammenu-content > .links {
  border-bottom: 1px solid #6d6d6d;
}
.ammenu-content > .links > li {
  border-bottom: 1px solid #6d6d6d;
  display: block;
  font-size: 1.6rem;
  margin: 0;
  text-decoration: none;
}
.header.links {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.ambrands-link {
  display: none;
}
.ambrands-list-popup {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}
._ammenu-menu-wrapper.-desktop {
  background: #f4f4f4;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-10 {
  width: calc(100%/10);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-9 {
  width: calc(100%/9);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-8 {
  width: calc(100%/8);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-7 {
  width: calc(100%/7);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-6 {
  width: calc(100%/6);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-5 {
  width: calc(100%/5);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-4 {
  width: calc(100%/4);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-3 {
  width: calc(100%/3);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-2 {
  width: calc(100%/2);
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-col-1 {
  width: calc(100%/1);
}
._ammenu-menu-wrapper.-desktop .ammenu-main-container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
}
._ammenu-menu-wrapper.-desktop .ammenu-items {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin: 0;
  list-style: none;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-main {
  padding: 18px 15px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-auto {
  position: relative;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-main:hover {
  background: #fff;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-main > .ammenu-link {
  position: relative;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-main:hover > .ammenu-link {
  text-decoration: none;
}
._ammenu-menu-wrapper.-desktop .ammenu-item.-main:hover > .ammenu-submenu-container {
  display: block;
}
._ammenu-menu-wrapper.-desktop .ammenu-submenu.-full {
  width: 100%;
}
._ammenu-menu-wrapper.-desktop .ammenu-label {
  right: -20px;
  position: absolute;
  bottom: 80%;
  padding: 2px 3px;
  font-size: 9px;
  border-radius: 2px;
}
._ammenu-menu-wrapper.-desktop .ammenu-submenu-container {
  padding: 10px;
  background: #fff;
  margin-top: 15px;
  position: absolute;
  left: 0;
  z-index: 999;
  display: none;
  max-height: 70vh;
  overflow-y: auto;
  font-weight: normal;
  box-shadow: 0 4px 5px rgba(35, 74, 87, 0.1);
  cursor: auto;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container {
  display: flex;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container > .ammenu-item.-child {
  padding: 25px;
  list-style: none;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container > .ammenu-item.-child > .ammenu-wrapper:not(:last-of-type) {
  margin-bottom: 30px;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-item {
  box-sizing: border-box;
  padding: 0;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container [class*="-col-"]:not(.-col-1) {
  max-width: 250px;
}
.ammenu-item.-auto ._ammenu-menu-wrapper.-desktop .ammenu-categories-container {
  top: 100%;
}
.ammenu-item.-full ._ammenu-menu-wrapper.-desktop .ammenu-categories-container > .ammenu-item.-child {
  flex-wrap: wrap;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link {
  display: inline-block;
  padding-right: 35px;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover .ammenu-wrapper,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered .ammenu-wrapper,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover .ammenu-link.-level1:before,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered .ammenu-link.-level1:before {
  color: #1787e0;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 .ammenu-arrow {
  display: none;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1:hover:before,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1.-hovered:before {
  background: #1787e0;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:not(.-level1):not(.-level2) {
  white-space: nowrap;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:not(.-level1) {
  position: relative;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link > .ammenu-wrapper {
  display: inline-block;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link + .ammenu-item.-child {
  margin-left: 25px;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 + .ammenu-item.-child {
  margin-top: 15px;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 + .ammenu-item > .ammenu-wrapper:not(:last-of-type) {
  padding-bottom: 10px;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:not(.-level1) + .ammenu-item {
  padding: 10px 10px 20px;
  top: -10px;
  position: absolute;
  z-index: 999;
  display: none;
  margin: 0;
  box-shadow: 0 2px 4px rgba(87, 87, 87, 0.25);
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level1 .ammenu-wrapper,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-level2 .ammenu-wrapper {
  white-space: normal;
}
.ammenu-link.-hovered ._ammenu-menu-wrapper.-desktop .ammenu-categories-container:before,
.ammenu-link:hover ._ammenu-menu-wrapper.-desktop .ammenu-categories-container:before {
  transform: rotate(45deg);
}
.ammenu-link.-hovered ._ammenu-menu-wrapper.-desktop .ammenu-categories-container:after,
.ammenu-link:hover ._ammenu-menu-wrapper.-desktop .ammenu-categories-container:after {
  transform: rotate(-45deg);
}
.ammenu-link.-hovered ._ammenu-menu-wrapper.-desktop .ammenu-categories-container,
.ammenu-link:hover ._ammenu-menu-wrapper.-desktop .ammenu-categories-container {
  opacity: 1;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover .ammenu-arrow {
  opacity: 1;
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered > .ammenu-arrow:before,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover > .ammenu-arrow:before {
  transform: rotate(45deg);
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link.-hovered > .ammenu-arrow:after,
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-link:hover > .ammenu-arrow:after {
  transform: rotate(-45deg);
}
._ammenu-menu-wrapper.-desktop .ammenu-categories-container .ammenu-wrapper {
  position: relative;
}
._ammenu-menu-wrapper.-desktop .ammenu-arrow {
  background: #000;
  right: 10px;
  position: absolute;
  top: 50%;
  width: 16px;
  height: 2px;
  opacity: 0;
  transition: all 0.3s ease;
}
._ammenu-menu-wrapper.-desktop .ammenu-arrow:before,
._ammenu-menu-wrapper.-desktop .ammenu-arrow:after {
  transition: 0.5s all ease-in;
  background: #000;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 8px;
  height: 2px;
  transform-origin: 100% 50%;
}
.ammenu-categories-container .ammenu-link.-level1 ._ammenu-menu-wrapper.-desktop .ammenu-arrow {
  display: none;
}
._ammenu-menu-wrapper.-mobile {
  transition: 0.3s all ease-in;
  z-index: 99999;
  width: 100%;
}
._ammenu-menu-wrapper.-mobile .header.links li {
  padding: 10px 0;
  margin: 0;
}
._ammenu-menu-wrapper.-mobile .header.links li > a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  border-top: 0;
  padding: 0;
}
._ammenu-menu-wrapper.-mobile .header.links li > a:hover {
  color: #1787e0;
  text-decoration: none;
}
._ammenu-menu-wrapper.-mobile .ammenu-link.-main {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
}
._ammenu-menu-wrapper.-mobile .ammenu-link.-main > .ammenu-wrapper {
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;
}
._ammenu-menu-wrapper.-mobile .ammenu-items {
  margin: 0;
  padding: 0;
}
._ammenu-menu-wrapper.-mobile .ammenu-item.-main {
  position: relative;
  margin: 0;
}
._ammenu-menu-wrapper.-mobile .ammenu-item.-child {
  padding: 0;
}
._ammenu-menu-wrapper.-mobile .ammenu-item > .ammenu-wrapper {
  padding: 10px 0;
}
._ammenu-menu-wrapper.-mobile .ammenu-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 8px;
  margin: auto;
}
._ammenu-menu-wrapper.-mobile .ammenu-icon:before,
._ammenu-menu-wrapper.-mobile .ammenu-icon:after {
  background: #363636;
  position: absolute;
  top: 3px;
  display: inline-block;
  width: 13px;
  height: 2px;
  content: '';
  transition: all 0.3s ease;
}
._ammenu-menu-wrapper.-mobile .ammenu-icon:before {
  left: 0;
}
._ammenu-menu-wrapper.-mobile .ammenu-icon:after {
  right: 0;
}
._ammenu-nav-sections.-mobile {
  width: 90%;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: -100%;
  height: 100vh;
  transition: all 0.3s ease;
  margin-bottom: 25px;
}
._ammenu-nav-sections.-mobile.-opened {
  left: 0;
}
._ammenu-nav-sections.-mobile .ammenu-tabs-container {
  height: 100%;
}
._ammenu-nav-sections.-mobile .ammenu-tabs-container > .ammenu-title.active {
  font-weight: 600;
}
._ammenu-nav-sections.-mobile .ammenu-tabs-container > .ammenu-title > .ammenu-link,
._ammenu-nav-sections.-mobile .ammenu-tabs-container > .ammenu-title > .ammenu-link:hover,
._ammenu-nav-sections.-mobile .ammenu-tabs-container > .ammenu-title > .ammenu-link:visited {
  color: #000;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
}
._ammenu-nav-sections.-mobile .ammenu-tabs-container > .ammenu-content {
  background: #fff;
  float: right;
  width: 100%;
  height: calc(100% - @ammenu-mobile-menu__height);
  margin-left: -100%;
}
.ammenu-nav-sections .amreview-widget-container .amreview-title,
.ammenu-nav-sections .amreview-widget-container .review-item {
  background: none !important;
}
.ammenu-nav-sections .ammenu-product-list.slider .slick-slide {
  vertical-align: top;
}
.ammenu-nav-sections .ammenu-product-list.slider .product-items {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.ammenu-nav-sections .ammenu-product-list.slider .product-items:not(.slick-initialized) {
  opacity: 0;
}
.ammenu-nav-sections .ammenu-product-list.grid {
  padding: 0 10px;
}
.ammenu-nav-sections .ammenu-product-list .action.tocart .-nocolor {
  color: #fff !important;
}
.ammenu-nav-sections .ammenu-product-list .products-grid .product-item-info:hover *:not(.-nocolor):not(.swatch-option),
.ammenu-nav-sections .ammenu-product-list .products-grid .product-item-info.active *:not(.-nocolor):not(.swatch-option) {
  color: #333 !important;
}
.ammenu-nav-sections .ammenu-product-list .action.towishlist {
  cursor: pointer;
}
.ammenu-nav-sections .ammenu-product-list .product-item-actions {
  margin-top: 10px;
}
.ammenu-nav-sections .ammenu-product-list .actions-secondary .action {
  opacity: 0.7;
}
.ammenu-nav-sections .ammenu-product-list .actions-secondary .action:hover {
  opacity: 1;
}
.ammenu-menu-wrapper .ammenu-toggle {
  padding: 10px;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 12px 0 0;
}
.ammenu-menu-wrapper .ammenu-icon {
  position: relative;
  display: inline-block;
  width: 20px;
  min-width: 20px;
  height: 8px;
  margin: auto;
}
.ammenu-menu-wrapper .ammenu-icon:before,
.ammenu-menu-wrapper .ammenu-icon:after {
  content: "";
  position: absolute;
  top: 3px;
  display: inline-block;
  width: 12px;
  height: 2px;
  transition: all 0.3s ease;
}
.ammenu-menu-wrapper .ammenu-icon:before {
  left: 0;
}
.ammenu-menu-wrapper .ammenu-icon:after {
  right: 0;
}
.ammenu-menu-wrapper .ammenu-icon.-small {
  margin-left: 15px;
  width: 12px;
  min-width: 12px;
}
.ammenu-menu-wrapper .ammenu-icon.-small:before,
.ammenu-menu-wrapper .ammenu-icon.-small:after {
  width: 8px;
  height: 2px;
}
.ammenu-menu-wrapper .ammenu-icon:after,
.ammenu-menu-wrapper .ammenu-icon.-small.-down:before,
.ammenu-menu-wrapper .ammenu-submenu.-collapsed + .ammenu-toggle .ammenu-icon:before {
  background-color: #000;
  transform: rotate(45deg);
}
.ammenu-menu-wrapper .ammenu-icon:before,
.ammenu-menu-wrapper .ammenu-icon.-small.-down:after,
.ammenu-menu-wrapper .ammenu-submenu.-collapsed + .ammenu-toggle .ammenu-icon:after,
.ammenu-menu-wrapper .ammenu-submenu.-collapsed + .ammenu-link {
  background-color: #000;
  transform: rotate(-45deg);
}
.ammenu-menu-wrapper .ammenu-submenu.-collapsed + .ammenu-link {
  background-color: #000 !important;
}
.ammenu-menu-toggle {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  cursor: pointer;
}
.ammenu-menu-toggle .ammenu-icon {
  display: block;
  width: 25px;
  margin: 3px 0;
  border: 1px solid;
  border-radius: 1px;
  transition: all 0.1s ease;
}
.ammenu-menu-toggle.-active .ammenu-icon:nth-of-type(1) {
  transform: translateY(8px) rotate(45deg);
}
.ammenu-menu-toggle.-active .ammenu-icon:nth-of-type(2) {
  opacity: 0;
}
.ammenu-menu-toggle.-active .ammenu-icon:nth-of-type(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header.content [class*="nav-toggle"],
.header.content [class*="toggle-nav"] {
  display: none !important;
}
.ammenu-nav-sections.-hamburger .ammenu-title,
.ammenu-nav-sections.-hamburger .greet,
.ammenu-nav-sections.-hamburger .customer-welcome {
  display: none;
}
.ammenu-menu-wrapper.-hamburger .ammenu-label {
  transform: translate(5px, -10px);
  padding: 1px 5px;
  font-size: 10px;
  text-transform: initial;
}
.ammenu-menu-wrapper.-hamburger .ammenu-link.-main {
  font-weight: 600;
  text-transform: uppercase;
}
