<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Customweb_Base::sales_customweb" title="Customweb" module="Customweb_Base" sortOrder="100" parent="Magento_Sales::sales" resource="Customweb_Base::sales_customweb" />
    	
    	<add id="Customweb_Base::config" title="Customweb" module="Customweb_Base" sortOrder="100" parent="Magento_Backend::stores" resource="Customweb_Base::config" />
    </menu>
</config>