<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Block\System\Config\Tabs">
        <plugin name="Amasty_ShippingTableRates::RedirectToShipping" type="Amasty\ShippingTableRates\Plugin\RedirectToShipping"/>
    </type>
</config>