<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_ShippingTableRates
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_ShippingTableRates::amstrates" title="Shipping Table Rates" module="Amasty_ShippingTableRates" sortOrder="100" parent="Magento_Sales::sales_operation" action="amstrates/methods/index" resource="Amasty_ShippingTableRates::amstrates"/>
    </menu>
</config>
