<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing" title="Marketing" sortOrder="50">
                    <resource id="MageWorx_SeoBase::canonical_urls" title="MageWorx Canonical URLs" sortOrder="40">
                        <resource id="MageWorx_SeoBase::manage_canonical_urls" title="Сustom Сanonical URLs" sortOrder="30"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MageWorx_SeoBase::config_seobase" title="SEO Base Section (by MageWorx)" sortOrder="70"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>