<?xml version="1.0"?>
<!--
/**
 * @category  Apptrian
 * @package   Apptrian_ImageOptimizer
 * @author    Apptrian
 * @copyright Copyright (c) Apptrian (http://www.apptrian.com)
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="apptrian_imageoptimizer" frontName="apptrian_imageoptimizer">
            <module name="Apptrian_ImageOptimizer" after="Magento_Backend" />
        </route>
    </router>
</config>
