<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Base
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_base>
            <notifications>
                <type>INFO,PROMO,INSTALLED_UPDATE,TIPS_TRICKS</type>
                <frequency>5</frequency>
            </notifications>
            <menu>
                <enable>1</enable>
            </menu>
        </amasty_base>
    </default>
</config>
