<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Hotlink_Framework::hotlink" title="Hotlink">
                    <resource id="Hotlink_Framework::framework" title="Framework" translate="title" sortOrder="10">
                        <resource id="Hotlink_Framework::log"          title="Log"           translate="title" sortOrder="10" />
                        <resource id="Hotlink_Framework::interactions" title="Interactions"  translate="title" sortOrder="20" />
                    </resource>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Hotlink_Framework::configuration" title="Hotlink" sortOrder="500">
                                <resource id="Hotlink_Framework::config" title="Framework" translate="title" sortOrder="10" />
                            </resource>
                        </resource>
                    </resource>
                </resource>

            </resource>
        </resources>
    </acl>
</config>
