//
//  Amasty Mega Menu
//  _________________________

//
//  Colors
//  --------------------------
@ammenu__color__white: #fff;
@ammenu__color__black: #000;
@ammenu__color__grey: #6d6d6d;
@ammenu__color__grey__dark: #363636;
@ammenu__color__grey__light: #f4f4f4;
@ammenu__color__blue__light: #1787e0;

//
// Indents
// --------------------------
@ammenu__indent__base: 10px;
@ammenu__indent__l: @ammenu__indent__base * 2 - @ammenu__indent__base / 2;
@ammenu__indent__xl: @ammenu__indent__base * 2;
@ammenu__indent__xxl: @ammenu__indent__base + @ammenu__indent__l;


