<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_entity_attribute_save_after">
        <observer
                name="mw_seoxtemplates_clear_by_deleted_attribute_value"
                instance="MageWorx\SeoXTemplates\Model\Observer\ClearByDeletedAttributeValueObserver"
        />
    </event>
</config>