<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hotlink_brightpearl>
            <api>
                <query_limit>512</query_limit>
            </api>
            <authorisation>
                <!--
                    <token></token>
                    <accountCode></accountCode>
                -->
                <locationUrl>ws-eu1.brightpearl.com</locationUrl>
                <apiDomain>ws-eu1.brightpearl.com</apiDomain>
                <http_auth_enabled>0</http_auth_enabled>
                <curl_validate_host>1</curl_validate_host>
                <curl_validate_certificate>1</curl_validate_certificate>
            </authorisation>
            <oauth2>
                <proxy_url>https://magento.brightpearlconnect.com</proxy_url>
            </oauth2>
            <shared_stock>
                <skip_unmanaged>1</skip_unmanaged>
                <put_back_instock>1</put_back_instock>
                <set_qty_zero_when_missing>1</set_qty_zero_when_missing>
            </shared_stock>
            <Hotlink_Brightpearl_Model_Interaction_Lookups_Import>
                <enabled>1</enabled>
            </Hotlink_Brightpearl_Model_Interaction_Lookups_Import>
            <Hotlink_Brightpearl_Model_Interaction_Stock_Bulk_Import>
                <batch>50</batch>
                <sleep>5000</sleep>
                <api_timeout>5000</api_timeout>
            </Hotlink_Brightpearl_Model_Interaction_Stock_Bulk_Import>
            <Hotlink_Brightpearl_Model_Interaction_Stock_Realtime_Import>
                <stock_ttl>3600</stock_ttl>
                <api_timeout>5000</api_timeout>
            </Hotlink_Brightpearl_Model_Interaction_Stock_Realtime_Import>
            <Hotlink_Brightpearl_Model_Interaction_Stock_Realtime_Import>
                <stock_ttl>3600</stock_ttl>
                <api_timeout>5000</api_timeout>
            </Hotlink_Brightpearl_Model_Interaction_Stock_Realtime_Import>
            <Hotlink_Brightpearl_Model_Interaction_Order_Export>
                <update_existing_customers>1</update_existing_customers>
                <monitor_order_queue_cron_expr>*/10 * * * *</monitor_order_queue_cron_expr>
                <monitor_order_queue_sort_field>entity_id</monitor_order_queue_sort_field>
                <monitor_order_queue_sort_order>ASC</monitor_order_queue_sort_order>
                <monitor_order_queue_batch>50</monitor_order_queue_batch>
            </Hotlink_Brightpearl_Model_Interaction_Order_Export>
            <Hotlink_Brightpearl_Model_Interaction_Order_Payment_Export>
                <monitor_order_payment_queue_cron_expr>*/10 * * * *</monitor_order_payment_queue_cron_expr>
                <monitor_order_payment_queue_sort_field>entity_id</monitor_order_payment_queue_sort_field>
                <monitor_order_payment_queue_sort_order>ASC</monitor_order_payment_queue_sort_order>
                <monitor_order_payment_queue_batch>50</monitor_order_payment_queue_batch>
            </Hotlink_Brightpearl_Model_Interaction_Order_Payment_Export>
            <Hotlink_Brightpearl_Model_Interaction_Shipment_Bulk_Import>
                <lookbehind>1 hours</lookbehind>
                <batch>50</batch>
                <sleep>5000</sleep>
            </Hotlink_Brightpearl_Model_Interaction_Shipment_Bulk_Import>
            <shared_price>
                <product_type>simple,bundle,configurable,grouped,virtual,downloadable,giftcard</product_type>
            </shared_price>
            <Hotlink_Brightpearl_Model_Interaction_Prices_Import>
                <check_tax_compatibility>1</check_tax_compatibility>
                <skip_attributes>0</skip_attributes>
                <skip_tier>0</skip_tier>
                <batch>50</batch>
                <sleep>5000</sleep>
            </Hotlink_Brightpearl_Model_Interaction_Prices_Import>
            <Hotlink_Brightpearl_Model_Interaction_Order_Status_Export>
                <monitor_order_status_queue_cron_expr>*/10 * * * *</monitor_order_status_queue_cron_expr>
                <monitor_order_status_queue_sort_field>entity_id</monitor_order_status_queue_sort_field>
                <monitor_order_status_queue_sort_order>ASC</monitor_order_status_queue_sort_order>
                <monitor_order_status_queue_batch>50</monitor_order_status_queue_batch>
            </Hotlink_Brightpearl_Model_Interaction_Order_Status_Export>
            <Hotlink_Brightpearl_Model_Interaction_Creditmemo_Export>
                <sales_credit_order_status></sales_credit_order_status>
                <refunds_enabled>0</refunds_enabled>
                <quarantine_enabled>0</quarantine_enabled>
                <quarantine_warehouse></quarantine_warehouse>
                <quarantine_pricelist></quarantine_pricelist>
                <monitor_creditmemo_queue_cron_expr>*/30 * * * *</monitor_creditmemo_queue_cron_expr>
                <monitor_creditmemo_queue_sort_order>ASC</monitor_creditmemo_queue_sort_order>
                <monitor_creditmemo_queue_batch>20</monitor_creditmemo_queue_batch>
            </Hotlink_Brightpearl_Model_Interaction_Creditmemo_Export>
            <Hotlink_Brightpearl_Model_Interaction_Order_Status_Bulk_Import>
                <lookbehind>1 hours</lookbehind>
                <sort_by>placedOn</sort_by>
                <sort_direction>ASC</sort_direction>
                <batch>50</batch>
                <sleep>5000</sleep>
            </Hotlink_Brightpearl_Model_Interaction_Order_Status_Bulk_Import>
            <Hotlink_Brightpearl_Model_Interaction_Order_Reconciliation>
                <ignore_past_minutes>10</ignore_past_minutes>
                <batch>100</batch>
                <sleep>5000</sleep>
            </Hotlink_Brightpearl_Model_Interaction_Order_Reconciliation>
        </hotlink_brightpearl>
    </default>
</config>
