<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MageWorx_SeoBreadcrumbs::config_seobreadcrumbs" title="SEO Breadcrumbs Section (by MageWorx)" sortOrder="75"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::marketing">
                    <resource id="MageWorx_SeoBreadcrumbs::seosuite" title="MageWorx SEO Breadcrumbs" sortOrder="50">
                        <resource id="MageWorx_SeoBreadcrumbs::category" title="Manage Breadcrumbs Priority for Category" sortOrder="30"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>